In [21]:
# 마지막으로 손으로 직접 잘못된 영화코드 수정한 데이터프레임 : code_added_df.csv

In [176]:
import seaborn as sns
import pandas as pd
import matplotlib.pylab as plt
from selenium import webdriver
import re
import matplotlib as mpl
from matplotlib import rc
import missingno as msno
import warnings
import datetime
from scrapy.http import TextResponse
warnings.filterwarnings('ignore')

# matplotlib 한글 사용을 위한 코드
rc('font', family='AppleGothic')

In [34]:
final_df = pd.read_csv('./final_df_03_ols.csv').drop(columns=['Unnamed: 0'])

In [27]:
df = pd.read_csv('./../code_added_df.csv').drop(columns=['Unnamed: 0'])
df.head(1)

,id,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,영화구분,N_movie_code
0,0,어벤져스: 에이지 오브 울트론,조스 웨던,NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),2015-04-23,개봉영화,장편,미국,1843,88582586366,10494499,25001906266,2823388,액션,12세이상관람가,일반영화,98438

In [38]:
df.iloc[338]

id                     338
영화명                      빅
감독                   트레버 월
제작사                    NaN
수입사               (주)누리픽쳐스
배급사               (주)이수C&E
개봉일             2016-07-27
영화유형                  개봉영화
영화형태                    장편
국적                      미국
전국스크린수                 332
전국매출액           1174196720
전국관객수               160860
서울매출액            215962400
서울관객수                28656
장르                   애니메이션
등급                   전체관람가
영화구분               독립/예술영화
N_movie_code         96379
Name: 338, dtype: object

## 진짜 마지막 수정
- 러닝타임은 잘못된거 직접 수정하기

In [130]:
# column : audience_rating/expert_rating, index : 168  '맥베스' 
# column : audience_rating/expert_rating index : 338 '빅'  
# column : audience_rating, index : 902 '원더랜드'

In [175]:
# false_index = [403]  # 이 영화들은 다른 정보들도 바꿔야함
# false_N_code = [152168]

In [173]:
# final_df.iloc[403]

In [68]:
# for each_row in df.iterrows():
#     print(each_row[1]['id'])

In [128]:
# final_df['starring_actors'][338] = '롭 슈나이더, 헤더 그레이엄, 켄 정'

In [172]:
# final_df.iloc[403]

In [ ]:
# final_df의 특정 row에 대한 평점 값 바꿔치기 하는 코드 
# 데이터프레임의 index로는 false_index를 차례대로 사용한다

In [148]:
index = 0

In [149]:
for each_row in final_df.iterrows():

    
    if int(each_row[1]['id']) in false_index:

        # 먼저, 평점의 가장 마지막 페이지에 해당하는 url의 document구조를 가져온다
        code = int(false_N_code[index])
        num = 99999
        url = 'https://movie.naver.com/movie/bi/mi/pointWriteFormList.nhn?code={}&type=after&onlyActualPointYn=Y&onlySpoilerPointYn=N&order=newest&page={}'.format(code, num)

        # 현재 페이지 알아내기
        try:
            req = requests.get(url)
            response = TextResponse(req.url, body=req.text, encoding="utf-8")
            number_list = response.xpath('/html/body/div/div/div[6]/div/a/span/text()').extract()
            last_number = number_list[len(number_list) - 1]

            cur_page = int(last_number.replace(',', ''))
            cur_page

            # 평가의 마지막 페이지 마지막 관객의 평점올린 날짜를 가져와서 7주일 이후의 날짜(limit_date) 만들기
            time_elements = response.xpath('/html/body/div/div/div[5]/ul/li/div/dl/dt/em[2]/text()')
            start_date = time_elements[len(time_elements) - 1].extract().split(' ')[0]
            start_date = start_date.split(" ")[0].split('.')
            limit_date = datetime.datetime(int(start_date[0]), int(start_date[1]), int(start_date[2])) + datetime.timedelta(weeks=1)

            audience_number = 0
            total_rating = 0
            flag = 0

            # 여기서부터 정확한 페이지로 크롤링 시작
            for page in range(cur_page, 0, -1):
                if flag == 1:
                    break

                url = 'https://movie.naver.com/movie/bi/mi/pointWriteFormList.nhn?code={}&type=after&onlyActualPointYn=Y&onlySpoilerPointYn=N&order=newest&page={}'.format(code, page)
                req = requests.get(url)
                response = TextResponse(req.url, body=req.text, encoding="utf-8")

                rating_elements = response.xpath('/html/body/div/div/div[5]/ul/li')

                # 평가의 해당 페이지에서, 각 평점 엘리먼트 하나마다 날짜를 확인하면서 limit을 넘겼는지 체크한다
                for n in range(len(rating_elements), 0, -1):
                    star = response.xpath('/html/body/div/div/div[5]/ul/li[{}]/div[1]/em/text()'.format(n)).extract()[0]
                    cur_date = response.xpath('/html/body/div/div/div[5]/ul/li[{}]/div[2]/dl/dt/em[2]/text()'.format(n)).extract()[0].split(' ')[0].split('.')

                    check_limit = limit_date - datetime.datetime(int(cur_date[0]), int(cur_date[1]), int(cur_date[2]))
                    if check_limit.days < 0:
                        flag = 1
                        break

                    total_rating = total_rating + int(star)
                    audience_number += 1

            final_df['audience_rating'][false_index[index]] = total_rating/audience_number
            final_df['rating_audiences'][false_index[index]] = audience_number            
        except Exception:
            final_df['audience_rating'][false_index[index]] = 0
            final_df['rating_audiences'][false_index[index]] = 0
            
        index += 1

In [100]:
index

3

In [132]:
# final_df.to_csv('final_df_04.csv')

## 러닝타임 고치기

In [ ]:
# column : running_times, index : 338
# column : running_times, index : 902
# 러닝타임 0인 영화 : 338 빅(88분), 902원더랜드(85분)
# 러닝타임 20인 영화 : 403 하루 (90분)

In [151]:
final_df.iloc[338]

id                                     338
영화명                                      빅
감독                                   트레버 월
제작사                                    NaN
수입사                               (주)누리픽쳐스
배급사                               (주)이수C&E
개봉일                             2016-07-27
영화유형                                  개봉영화
영화형태                                    장편
국적                                      미국
전국스크린수                                 332
전국매출액                           1174196720
전국관객수                               160860
서울매출액                            215962400
서울관객수                                28656
장르                                   애니메이션
등급                                   전체관람가
영화구분                               독립/예술영화
expert_rating                            0
starring_actors       롭 슈나이더, 헤더 그레이엄, 켄 정
running_times                           91
audience_rating                     8.2462
rating_audiences                       329
개봉일_int                               2016
director_power                           0
director_movie_num                   1 [1]
Name: 338, dtype: object

In [144]:
final_df['expert_rating'][403] = float(4.60)

In [153]:
final_df.to_csv('final_df_04.csv')

## 배우 동명이인 처리하고, 배우 영향력 점수 추가

In [168]:
# 배우 동명이인 처리하고 영향력 칼럼 추가할 차례임//  2020.03.28

# 이광수B	149	포켓몬 더 무비 XY 후파: 광륜의 초마신	
# 이광수A	166	돌연변이
# 이광수A	571	탐정: 리턴즈
# 이광수A	765	나의 특별한 형제
# 김태균A 341 장난감이 살아있다
# 김태균B 452 슈퍼빼꼼: 스파이 대작전 
# 소연A 419 터닝메카드W: 블랙미러의 부활
# 소연B 814 교회오빠
# 소연A 895 극장판 엉덩이 탐정: 화려한 사건 수첩
# 민아A 554 래빗 스쿨
# 민아B 636 번개맨과 신비의 섬
# 민아A 638 매직빈

In [188]:
final_df = pd.read_csv('final_df_05.csv')
actor_compare_df = pd.read_csv('../actor_compare_df_sep_d.csv').drop(columns=['Unnamed: 0'])

In [189]:
final_df.head(2)

,title,director,producer,importer,distributor,distributor_group,release_date,release_season,release,form,...,expert_rating,starring_actors,running_times,audience_rating,rating_audiences,realease_year,director_power,director_movie_num,sequel,original
0,어벤져스: 에이지 오브 울트론,조스 웨던,NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),B,4/23/2015,spring,개봉영화,장편,...,6.92,"로버트 다우니 주니어(토니 스타크 / 아이언맨), 크리스 헴스워스(토르), 마크 러...",141,8.193182,88,2015,17567536.0,1 [1],1,0
1,국제시장,윤제균,"(주)제이케이필름,씨제이이앤엠(주)",NaN,씨제이이앤엠(주),A,12/17/2014,winter,개봉영화,장편,...,5.81,"황정민(덕수), 김윤진(영자), 오달수(달구)",126,8.246201,329,2014,5334561.0,1 [1],0,0

In [190]:
final_df.columns

Index(['title', 'director', 'producer', 'importer', 'distributor',
       'distributor_group', 'release_date', 'release_season', 'release',
       'form', 'nation', 'screen', 'rev_nationwide', 'aud_nationwide',
       'rev_seoul', 'rev_seoul.1', 'genre', 'rate', 'type', 'expert_rating',
       'starring_actors', 'running_times', 'audience_rating',
       'rating_audiences', 'realease_year', 'director_power',
       'director_movie_num', 'sequel', 'original'],
      dtype='object')

In [191]:
actor_compare_df.head(2)

,영화명,개봉일,매출액,매출액점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,...,제작사,배급사,등급,장르,감독,배우,main_actors,개봉일_int,actor_involved,전국관객수
0,어벤져스,2012-04-26,59546521565,0.093,59546521565,7073037,7073037,967,109646,미국,...,NaN,한국소니픽쳐스릴리징브에나비스타영화㈜,12세이상관람가,"액션,SF",조스 웨던,"로버트 다우니 주니어,스칼렛 요한슨,크리스 헴스워스,크리스 에반스,제레미 레너","로버트 다우니 주니어, 스칼렛 요한슨, 크리스 헴스워스",2012,True,7073037
1,범죄와의 전쟁: 나쁜놈들 전성시대,2012-02-02,36538823500,0.057,36538823500,4719872,4719872,713,91889,한국,...,"(주)팔레트픽처스,(주)쇼박스",(주)쇼박스,청소년관람불가,"범죄,드라마",윤종빈,"최민식,하정우,조진웅,마동석,곽도원,김성균,박성광,이철민,임자연,임헌호,권종현,김민...","최민식, 하정우, 조진웅",2012,True,4710454

In [205]:
actor_compare_df.columns

Index(['영화명', '개봉일', '매출액', '매출액점유율', '누적매출액', '관객수', '누적관객수', '스크린수', '상영횟수',
       '대표국적', '국적', '제작사', '배급사', '등급', '장르', '감독', '배우', 'main_actors',
       '개봉일_int', 'actor_involved', '전국관객수'],
      dtype='object')

In [211]:
# list(final_df['starring_actors'])

In [228]:
# for i, value in enumerate(list(final_df['starring_actors'])):
#     if value == '[국내] 전체 관람가':
#         final_df['starring_actors'][i] = '-'

262
263
367
641
737
740
784
921
925

In [229]:
# for i, value in enumerate(list(final_df['starring_actors'])):
#     if value == '[국내] 전체 관람가':
#         final_df['starring_actors'][i] = '-'

In [240]:
# final_df.iloc[925]

In [200]:
final_df['starring_actors'][0]

'로버트 다우니 주니어(토니 스타크 / 아이언맨), 크리스 헴스워스(토르), 마크 러팔로(브루스 배너 / 헐크)'

In [232]:
actor_list = [re.sub('[(].+[)]', '', each_name) for each_name in final_df['starring_actors'][263].split(',')]
actor_list

['-']

In [199]:
len(actor_compare_df)

1671

In [198]:
year_list[0]

2015

In [254]:
### 동명이인 처리

In [263]:
a = ['a','b']

In [273]:
def unpack(names):
    result = ''
    for name in names:
        result += name + ','
        
        
    return result[:-1]

In [274]:
final_df['starring_actors'] = final_df['starring_actors'].apply(lambda actors: unpack([re.sub('[(].+[)]', '', each_name).strip() for each_name in actors.split(',')]))

In [278]:
final_df.head(1)

,title,director,producer,importer,distributor,distributor_group,release_date,release_season,release,form,...,expert_rating,starring_actors,running_times,audience_rating,rating_audiences,realease_year,director_power,director_movie_num,sequel,original
0,어벤져스: 에이지 오브 울트론,조스 웨던,NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),B,4/23/2015,spring,개봉영화,장편,...,6.92,"로버트 다우니 주니어,크리스 헴스워스,마크 러팔로",141,8.193182,88,2015,17567536.0,1 [1],1,0

In [ ]:
# 이광수B	149	포켓몬 더 무비 XY 후파: 광륜의 초마신	
# 이광수A	166	돌연변이
# 이광수A	571	탐정: 리턴즈
# 이광수A	765	나의 특별한 형제
# 김태균A 341 장난감이 살아있다
# 김태균B 452 슈퍼빼꼼: 스파이 대작전 
# 소연 / 이소연
# 민아 / 홍민아

In [317]:
# final_df['starring_actors'][554] = '황창영,민아,최정현'

In [328]:
final_df.iloc[166]

title                         돌연변이
director                       권오광
producer                    영화사 우상
importer                       NaN
distributor                필라멘트픽쳐스
distributor_group                D
release_date            10/22/2015
release_season              autumn
release                       개봉영화
form                            장편
nation                          한국
screen                         399
rev_nationwide         7.48817e+08
aud_nationwide              100523
rev_seoul                196277284
rev_seoul.1                  24547
genre                          드라마
rate                      12세이상관람가
type                          일반영화
expert_rating                 6.31
starring_actors       이광수A,이천희,박보영
running_times                   93
audience_rating            7.46753
rating_audiences                77
realease_year                 2015
director_power         2.32819e+06
director_movie_num           2 [2]
sequel                           0
original                         0
Name: 166, dtype: object

In [361]:
# for i, value in enumerate(list(actor_compare_df['main_actors'])):
#     if '홍민아' in value.split(','):
#         print(i)

In [342]:
# for i, value in enumerate(list(actor_compare_df['main_actors'])):
#     if '김태균' in value.split(','):
#         print(i)

In [343]:
# actor_compare_df['main_actors'][1086] = '김태균B, 최정현, 최낙윤'

In [344]:
# actor_compare_df.iloc[1086]

In [345]:
actor_compare_df.to_csv('final_actor_compare_df.csv')

In [346]:
final_df.to_csv('final_df_05-1.csv')

In [347]:
final_df.head(2)

,title,director,producer,importer,distributor,distributor_group,release_date,release_season,release,form,...,expert_rating,starring_actors,running_times,audience_rating,rating_audiences,realease_year,director_power,director_movie_num,sequel,original
0,어벤져스: 에이지 오브 울트론,조스 웨던,NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),B,4/23/2015,spring,개봉영화,장편,...,6.92,"로버트 다우니 주니어,크리스 헴스워스,마크 러팔로",141,8.193182,88,2015,17567536.0,1 [1],1,0
1,국제시장,윤제균,"(주)제이케이필름,씨제이이앤엠(주)",NaN,씨제이이앤엠(주),A,12/17/2014,winter,개봉영화,장편,...,5.81,"황정민,김윤진,오달수",126,8.246201,329,2014,5334561.0,1 [1],0,0

In [348]:
actor_power_dict = {}
# actor_movies_dict = {}

In [349]:
# 배우 성과측정 함수

year_list = list(final_df['realease_year'])
year_index = 0

def actor_func(actors):
    global year_index
    global actor_power_dict
    global actor_movies_dict
    
    total_audience = 0
    
    actor_list = actors.split(',')
    
    limit_year = year_list[year_index] - 3
    
    for each_name in actor_list:
        stripped_name = each_name.strip()
        
        # 데이터프레임 자르기
        cut_movie_df = actor_compare_df[actor_compare_df['개봉일_int'] > limit_year - 1]
        cut_movie_df = cut_movie_df[cut_movie_df['개봉일_int'] < int(year_list[year_index]) + 1]
        
        for i in range(0, len(cut_movie_df)):
            
            cur_row = cut_movie_df.iloc[i]
            cur_row_actors = [name.strip() for name in cur_row['main_actors'].split(',')]
            
            if stripped_name in cur_row_actors:
                total_audience += int(cur_row['전국관객수'])
                
        try:
            actor_power_dict[stripped_name] += total_audience
#             actor_movies_dict[stripped_name] += 1
        except Exception:
            actor_power_dict[stripped_name] = total_audience
#             actor_movies_dict[stripped_name] = 1
        
    year_index += 1

In [350]:
final_df['starring_actors'].apply(actor_func)

0      None
1      None
2      None
3      None
4      None
       ...
923    None
924    None
925    None
926    None
927    None
Name: starring_actors, Length: 928, dtype: object

In [352]:
# actor_power_dict

In [353]:
def actor_power_apply(actors):
    actor_power = 0
    
    actor_list = actors.split(',')
    
    for key, value in actor_power_dict.items():
        if key in actor_list:
            actor_power += value
        
    return actor_power

In [355]:
final_df['actor_power'] = final_df['starring_actors'].apply(actor_power_apply)

In [356]:
final_df

,title,director,producer,importer,distributor,distributor_group,release_date,release_season,release,form,...,starring_actors,running_times,audience_rating,rating_audiences,realease_year,director_power,director_movie_num,sequel,original,actor_power
0,어벤져스: 에이지 오브 울트론,조스 웨던,NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),B,4/23/2015,spring,개봉영화,장편,...,"로버트 다우니 주니어,크리스 헴스워스,마크 러팔로",141,8.193182,88,2015,17567536.0,1 [1],1,0,542407997
1,국제시장,윤제균,"(주)제이케이필름,씨제이이앤엠(주)",NaN,씨제이이앤엠(주),A,12/17/2014,winter,개봉영화,장편,...,"황정민,김윤진,오달수",126,8.246201,329,2014,5334561.0,1 [1],0,0,608444941
2,킹스맨 : 시크릿 에이전트,매튜 본,NaN,이십세기폭스코리아(주),이십세기폭스코리아(주),B,2/11/2015,winter,개봉영화,장편,...,"콜린 퍼스,태런 에저튼,사무엘 L. 잭슨",128,8.548387,31,2015,17202955.0,2 [2],1,0,319404847
3,쥬라기 월드,콜린 트레보로우,NaN,유니버설픽쳐스인터내셔널 코리아(유),유니버설픽쳐스인터내셔널 코리아(유),B,6/11/2015,summer,개봉영화,장편,...,"크리스 프랫,브라이스 달라스 하워드,빈센트 도노프리오",125,8.337789,1945,2015,4565911.0,1 [1],0,1,110571787
4,조선명탐정 : 사라진 놉의 딸,김석윤,청년필름(주),NaN,(주)쇼박스,C,2/11/2015,winter,개봉영화,장편,...,"김명민,오달수,이연희",125,8.172131,610,2015,10168360.0,2 [2],1,0,297483438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,프란치스코 교황 : 맨 오브 히스 워드,빔 벤더스,NaN,㈜영화사 백두대간,"㈜영화사 백두대간,영화사 풀",D,11/21/2019,autumn,개봉영화,장편,...,프란치스코,96,9.600000,10,2019,37282.0,1 [1],0,1,0
924,아이리시맨,마틴 스코세이지,NaN,NaN,판씨네마(주),D,11/20/2019,autumn,개봉영화,장편,...,"로버트 드 니로,알 파치노,조 페시",209,8.870588,85,2019,809305.0,2 [2],0,1,51829915
925,빅 위시,카를로스 구티에레스 메드라노,NaN,(주)박수엔터테인먼트,(주)박수엔터테인먼트,D,10/30/2019,autumn,개봉영화,장편,...,-,79,6.500000,4,2019,0.0,1 [1],0,0,0
926,너를 만난 여름,장적사,NaN,오드,"오드,(주)홈초이스",D,10/16/2019,autumn,개봉영화,장편,...,"진비우,하람두",109,8.428571,63,2019,31888.0,1 [1],0,0,0
927,100일 동안 100가지로 100퍼센트 행복찾기,플로리안 데이비드 핏츠,NaN,(주)영화사 진진,(주)영화사 진진,D,9/12/2019,autumn,개봉영화,장편,...,"플로리안 데이비드 핏츠,마치아스 슈와바이어퍼",111,8.962963,27,2019,31866.0,1 [1],0,0,0

In [362]:
final_df.to_csv('final_df_06.csv')

In [369]:
list(final_df['actor_power'])

[542407997,
 608444941,
 319404847,
 110571787,
 297483438,
 172058089,
 159888816,
 117277017,
 27084054,
 675885051,
 25277599,
 64819098,
 288312402,
 81655172,
 99406182,
 100349858,
 69343290,
 140613327,
 377954343,
 25116537,
 51796067,
 96690887,
 426986393,
 270017259,
 17645881,
 516158873,
 0,
 168552961,
 61621051,
 64688576,
 80127868,
 13195110,
 3290420,
 5980430,
 53815421,
 125923099,
 39814933,
 4014493,
 4035768,
 88969407,
 12791205,
 46958275,
 6953074,
 3866377,
 63794742,
 9482165,
 99965637,
 4925210,
 21542765,
 575085503,
 1598334,
 1942980,
 0,
 8128198,
 48357025,
 176158055,
 6103509,
 0,
 3197734,
 5547103,
 84355523,
 4528571,
 72906038,
 30535468,
 910998,
 1637014,
 54763704,
 28589248,
 35859183,
 36960510,
 13401497,
 42722646,
 54661329,
 2628521,
 103352468,
 69118606,
 50419819,
 26941802,
 56891911,
 42454932,
 180832,
 45228904,
 3180396,
 1417176,
 9761436,
 29873061,
 75790886,
 2212838,
 12420577,
 17256206,
 4528571,
 22194975,
 3429188,
 8371674,
 564426,
 26048880,
 109775541,
 89054903,
 4621700,
 16015747,
 989218538,
 586977495,
 315927301,
 283896989,
 192575403,
 363748687,
 423339236,
 14906061,
 87204658,
 99470091,
 53934024,
 67216268,
 11150250,
 84487869,
 93679758,
 65726457,
 220162448,
 48939674,
 121506670,
 77982965,
 192276031,
 550151611,
 46994697,
 20805433,
 457834795,
 5259854,
 306671823,
 93278994,
 15482574,
 63837509,
 115439732,
 79871113,
 6732135,
 10730881,
 246481677,
 88141489,
 43800637,
 21990228,
 18639133,
 26271621,
 144937014,
 103352073,
 1372205,
 264680631,
 27508781,
 242022629,
 39563184,
 3410889,
 2939732,
 2820128,
 82048452,
 13259537,
 47164121,
 56828097,
 3317256,
 315927301,
 0,
 62751921,
 175386029,
 0,
 142976403,
 3849120,
 0,
 92382758,
 67749296,
 0,
 63348767,
 872144,
 86057651,
 0,
 68107798,
 436505,
 0,
 35094629,
 25884227,
 233950,
 154159411,
 507912,
 378804,
 9435805,
 182943,
 38476993,
 10100832,
 24927671,
 56787953,
 1,
 258149,
 0,
 855836,
 119657403,
 101408339,
 36063212,
 244220,
 46781,
 122878240,
 546209024,
 243115721,
 493888365,
 28279364,
 496420797,
 82409468,
 14345384,
 49550627,
 196722734,
 63521355,
 68167267,
 72879230,
 43300362,
 143186223,
 0,
 60143168,
 29095468,
 121939759,
 188638488,
 18872111,
 150926107,
 12659161,
 11729523,
 29477353,
 193939405,
 33882476,
 42992977,
 5484552,
 28418214,
 214397295,
 9401909,
 244925559,
 86340422,
 342012065,
 30705492,
 379128094,
 119775430,
 8353,
 2141856,
 73117133,
 37068576,
 259383116,
 70170514,
 7393876,
 1737873,
 21038141,
 250120943,
 243406794,
 484638627,
 4412275,
 14016888,
 130167229,
 170174636,
 1637014,
 157769424,
 42874,
 109028307,
 323681233,
 5465146,
 18223241,
 249028351,
 1260571,
 4060556,
 20010932,
 71060068,
 74430,
 246328373,
 0,
 0,
 29249641,
 103966179,
 464105,
 70179080,
 28405359,
 493260,
 164296,
 54857983,
 32722781,
 58784517,
 1877569,
 207909,
 93180611,
 0,
 4183631,
 20169203,
 26048880,
 149823,
 2551234,
 35816549,
 329832,
 10517175,
 424744528,
 248695427,
 768530405,
 200650475,
 598305879,
 157403939,
 125470243,
 382272689,
 96634606,
 106430198,
 237997465,
 191205106,
 228613344,
 76043645,
 0,
 699430206,
 56318166,
 40353253,
 22800872,
 42706997,
 6998855,
 125022682,
 56893456,
 207758574,
 15380073,
 57689186,
 12173904,
 6439061,
 209966396,
 41602767,
 37345253,
 269072510,
 39444273,
 29758959,
 88072747,
 14114143,
 5013164,
 27439331,
 12182888,
 101097995,
 234512093,
 6492939,
 7715216,
 1687553,
 6732135,
 1275908,
 2076604,
 24434231,
 1953153,
 1322604,
 1511285,
 0,
 0,
 119198946,
 364936261,
 9350428,
 15688747,
 0,
 0,
 56974379,
 11583615,
 57162172,
 0,
 48838880,
 0,
 54056588,
 147871574,
 565508,
 692972,
 5960084,
 517758,
 73759217,
 51333010,
 0,
 6856725,
 26048880,
 902172,
 34542086,
 71360278,
 7199774,
 83228231,
 0,
 0,
 12691171,
 0,
 237471197,
 1239740,
 3282475,
 48603991,
 0,
 0,
 746272721,
 180061456,
 21235235,
 235966075,
 144241376,
 14473898,
 40798370,
 34154839,
 111995731,
 736995184,
 176500810,
 14247901,
 178414050,
 138264903,
 27734199,
 10642860,
 43411244,
 50050175,
 0,
 317665767,
 79149529,
 148864572,
 291497227,
 117426770,
 488588434,
 80598018,
 46517407,
 49725851,
 209670322,
 6027129,
 56415240,
 10353328,
 135851597,
 62351653,
 65549085,
 46179013,
 26399061,
 56549854,
 270403903,
 65376276,
 3331504,
 28630663,
 9486862,
 2266062,
 3620911,
 46851513,
 32456725,
 96164964,
 192835451,
 214378311,
 86600468,
 2506739,
 1169642,
 291071244,
 137960006,
 12411319,
 3285663,
 19770746,
 2411840,
 5557856,
 7222748,
 15989340,
 1542981,
 10921035,
 118468234,
 42578507,
 7749606,
 1637014,
 1517840,
 19803649,
 547566616,
 6432553,
 54882904,
 63994892,
 32799053,
 608984,
 94714286,
 116742404,
 604221,
 26048880,
 7595372,
 2793004,
 24593332,
 20381514,
 0,
 26048880,
 4066096,
 17166158,
 0,
 29575696,
 44012667,
 41428574,
 33691345,
 624785819,
 769113491,
 78092632,
 262709834,
 455259430,
 83225535,
 131553012,
 466864340,
 138655834,
 183354365,
 425044584,
 27679927,
 41436002,
 46970653,
 114477917,
 83646589,
 1151033116,
 8383172,
 53621322,
 269638860,
 340542202,
 143327543,
 0,
 95691878,
 6823864,
 27246068,
 22080146,
 25058,
 21652647,
 20614526,
 81289813,
 18639133,
 1770108,
 7238432,
 4334392,
 10969842,
 312553619,
 0,
 17368570,
 177018297,
 1505846,
 16008673,
 123663231,
 147763,
 443591844,
 11476,
 51894082,
 0,
 4167124,
 20581061,
 56938725,
 22782482,
 3939137,
 1550868,
 131869173,
 3300919,
 6732135,
 93617013,
 117576269,
 6273,
 1024776,
 3849120,
 201430780,
 2411840,
 7703055,
 4935977,
 0,
 32448275,
 110834,
 134185778,
 491155,
 38132873,
 377127,
 764747,
 26476058,
 30578629,
 1889502,
 148334,
 1611142,
 0,
 189837,
 5334647,
 187362,
 18571802,
 1029738,
 71,
 6260992,
 62555056,
 41277249,
 43979183,
 3578574,
 73139955,
 13449391,
 511714639,
 99967478,
 5398994,
 753245512,
 194540501,
 10553187,
 274117536,
 16053354,
 110815578,
 103902145,
 287934834,
 84487869,
 108785353,
 237067369,
 175097748,
 347647523,
 155174702,
 150441502,
 37893555,
 115741907,
 287357766,
 299700006,
 3231705,
 296694603,
 17153638,
 572075975,
 41258819,
 7477938,
 108856533,
 32397728,
 5306342,
 228690630,
 167985995,
 40912554,
 24129447,
 305153932,
 34831796,
 35093484,
 1864170,
 1294740,
 86183999,
 8128198,
 18930302,
 33724549,
 292679195,
 55083228,
 3285663,
 20230715,
 89343764,
 9027010,
 15291,
 5305273,
 1123299,
 49532362,
 2,
 71386332,
 58685130,
 27455545,
 153251001,
 103379691,
 0,
 653754,
 69385863,
 4692006,
 27793865,
 147709,
 69498207,
 6547749,
 2554642,
 362729,
 13484482,
 43531543,
 1328113,
 766479,
 40739127,
 1249384,
 430440,
 160660161,
 0,
 4159381,
 504955,
 160276110,
 29757638,
 551426,
 3140381,
 230316,
 30771489,
 304870,
 0,
 2936110,
 17197515,
 14151,
 822399505,
 27673746,
 182105581,
 67216268,
 54507518,
 973365236,
 973675139,
 55927882,
 408113336,
 174511416,
 63960059,
 245078391,
 0,
 62854980,
 273252363,
 97454465,
 40859270,
 195274248,
 102624540,
 283329577,
 64881962,
 263186047,
 56778007,
 14016888,
 589040829,
 10640989,
 14064738,
 7081060,
 138652064,
 438060666,
 35561836,
 119356958,
 56873687,
 48564798,
 13907061,
 21016977,
 9158972,
 23282119,
 31278132,
 6946105,
 45509020,
 11316306,
 167618168,
 236337965,
 289195474,
 17368570,
 163650988,
 0,
 129227829,
 4185050,
 6688104,
 0,
 2978914,
 652332,
 114818069,
 0,
 26973445,
 7243908,
 7064642,
 1033734,
 1505846,
 3026267,
 3663164,
 753245512,
 14165760,
 4565888,
 1557719,
 42008060,
 0,
 129753398,
 287955,
 31878561,
 68546136,
 29765634,
 49155,
 64104582,
 10205440,
 12526067,
 31217280,
 766479,
 96924,
 1066324,
 0,
 0,
 82148,
 0,
 27724759,
 10767496,
 997365,
 97034586,
 315982,
 0,
 358561995,
 497986455,
 273232941,
 12533369,
 302692866,
 247898472,
 331779946,
 538220670,
 219614635,
 221781788,
 28204664,
 26918346,
 43560651,
 289791921,
 9338459,
 40709550,
 49828397,
 25047504,
 60780333,
 76821214,
 13074257,
 119718162,
 196722734,
 262611213,
 17573793,
 59854794,
 2506739,
 124164,
 16162539,
 3378684,
 82863195,
 28168,
 16706,
 0,
 29353315,
 27485332,
 85315077,
 0,
 2540078,
 6018112,
 38304375,
 15835321,
 8702869,
 147996374,
 95108674,
 68243701,
 202756,
 16244533,
 1193450,
 37763839,
 0,
 140928847,
 254864015,
 32050773,
 40674448,
 426195,
 1595484,
 6614846,
 12376584,
 640610,
 67204185,
 22064325,
 47686655,
 71076067,
 12017516,
 1214509,
 3629735,
 552258,
 548580,
 82158458,
 38935258,
 2716433,
 9949914,
 1660299,
 13021278,
 345054,
 6654421,
 13894543,
 1200710,
 1271129,
 0,
 835651,
 89174859,
 54107432,
 1181362,
 3778599,
 248688,
 599477,
 18529491,
 40107261,
 126596100,
 281874292,
 851934762,
 5326928,
 724692671,
 0,
 284560713,
 195990311,
 183510449,
 50692235,
 376579642,
 509124999,
 26882626,
 154336331,
 150502631,
 146881895,
 43530784,
 28573267,
 108080791,
 41113491,
 24816693,
 446854846,
 55888507,
 62469356,
 237067369,
 91495148,
 249622327,
 31904324,
 39910348,
 30352767,
 132480858,
 3957126,
 27135694,
 482410921,
 109800399,
 35561836,
 37210217,
 4777479,
 2016724,
 19801869,
 10030345,
 0,
 115506455,
 16943649,
 13564228,
 36111263,
 27037731,
 17368570,
 108743526,
 2323681,
 42017762,
 99515454,
 32434270,
 31620240,
 63374328,
 4255253,
 27182130,
 43107693,
 2513578,
 99759616,
 28657891,
 23766490,
 14283448,
 31874086,
 125930,
 5005882,
 97966522,
 1424608,
 284536,
 550692,
 531981,
 16423960,
 1934192,
 2709683,
 0,
 19041138,
 55743703,
 175935,
 9507680,
 10705235,
 4889807,
 128742,
 4713324,
 1579519,
 0,
 15664181,
 0,
 51829915,
 0,
 0,
 0]

In [370]:
final_df.iloc[11]

title                          강남 1970
director                            유하
producer              (주)모베라픽처스,(주)쇼박스
importer                           NaN
distributor                     (주)쇼박스
distributor_group                    C
release_date                 1/21/2015
release_season                  winter
release                           개봉영화
form                                장편
nation                              한국
screen                             841
rev_nationwide              1.7718e+10
aud_nationwide                 2192172
rev_seoul                   4859661899
rev_seoul.1                     586992
genre                               액션
rate                           청소년관람불가
type                              일반영화
expert_rating                     5.84
starring_actors            이민호,김래원,정진영
running_times                      135
audience_rating                8.05308
rating_audiences                  1055
realease_year                     2015
director_power             3.80473e+06
director_movie_num               1 [1]
sequel                               0
original                             0
actor_power                   64819098
Name: 11, dtype: object